.form-control{
    width:50rem;

}
.reg-form{
    display:flex;
    justify-content: center;
    margin:5rem;
    position: sticky;
    size:20rem;
    
   
}
.formpad
{
    border:2px solid orange;
   
    padding:1rem;
    
}
.heading{
    color:orange;
    display:flex;
    justify-content: center;
}
.divheading{
    display:flex;
    justify-content: center;
}
.btn-orange{
    background-color: orange;
    width:50rem
}
.body{
    
    background-repeat: no-repeat;
    background:transparent;
    background-size: cover;
}
.form-label{
    color:white;
}
.designtext{
    background-color: aliceblue;
    color:black;
    height:30px;
    width:40rem;
    border-radius: .2rem;
    margin:.1rem;
}
.danger{
    height:2rem;
    background-color: red;
    color:white;
    float:right;
    position:absolute;
    border-radius: .2rem;
    margin-left:18rem;
}
